.navbar{border-color: none;
		  background-image:none;
		  border:none;
          -webkit-text-shadow: none;
    text-shadow: none;
}
		
		.navbar-default {
		    background-color:rgba(172,172,172,0.60);
         box-shadow: none;
        text-transform: uppercase;
			font-weight:bold;
		  border-color: none;
		  background-image:none;
		  border:none;
		  border-radius:0;
		   -webkit-text-shadow: none;
    text-shadow: none;
		}
	
		.navbar-default .navbar-brand {
		  color: #efefef;
		  font-weight:600;
		}
		.navbar-default .navbar-brand:hover,
		.navbar-default .navbar-brand:focus {
		  color: #101010;
		  background-color: none;
		  
		}
		.navbar-default .navbar-text {
		  color: rgba(0, 0, 0, 1);
		 
		  	font-weight:bold;
		}
		.navbar-default .navbar-nav > li > a {
		
		  color: #000;
		}
		.navbar-default .navbar-nav > li > a:hover,
		.navbar-default .navbar-nav > li > a:focus {
		  color: #000;
		  background-color: none;
		}
		.navbar-default .navbar-nav > .active > a,
		.navbar-default .navbar-nav > .active > a:hover,
		.navbar-default .navbar-nav > .active > a:focus {
		  color: #000;
		  background-color: rgba(0, 0, 0, 0);
		  background-image:none;
		  border-color: none;
		font-weight:bold;
		 
		}
		.navbar-default .navbar-nav > .disabled > a,
		.navbar-default .navbar-nav > .disabled > a:hover,
		.navbar-default .navbar-nav > .disabled > a:focus {
		  color: #000;
		  background-color: none;
		  background-image:none;
		}
		.navbar-default .navbar-toggle {
		  border-color: none;
		}
		.navbar-default .navbar-toggle:hover,
		.navbar-default .navbar-toggle:focus {
		  background-color: rgba(0, 0, 0, 1);
		  box-shadow: none;
		}
		.navbar-default .navbar-toggle .icon-bar {
		  background-color: rgba(0, 0, 0, 1);
		}
		.navbar-default .navbar-collapse,
		.navbar-default .navbar-form {
		  border-color: rgba(0, 0, 0, 0);
		 border-top: 0px solid transparent;
		 box-shadow:none;
		}
		.navbar-default .navbar-nav > .open > a,
		.navbar-default .navbar-nav > .open > a:hover,
		.navbar-default .navbar-nav > .open > a:focus {
		  background-color: rgba(0, 0, 0, 0.25);
		  color: #ffffff;
		  }
		.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
		 background-image:none;
		   box-shadow: none;}
		

body{
        background-image: url("images/ocean-view-cliff.jpg"); 
  
  background-position:center;
		background-repeat:no-repeat;
		-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  color:black!important;
}


.header-banner{display: flex;
        flex-flow: row;
        justify-content: space-between;
        margin:1% 0%;
}

.row{margin:3% 0%; }

.featurebox{background-color:rgba(194,194,194,0.7);
        padding:5% 10%;
}

.feature-row {background-color:rgba(194,194,194,0.7);
        padding:0% 5%;}

.feature-row-ocean {background-color:rgba(194,194,194,0.7);
        padding:5% 0%;}
.feature-row-ocean a{font-size:2em;
        
        color:black;
        text-decoration:none;
        font-weight: bold;
        text-transform:uppercase;
}
.featurebox a{font-size:2em;
        
        color:black;
        text-decoration:none;
        font-weight: bold;
        text-transform:uppercase;
}

.shop{padding:5%;}

.product{font-weight:bold;
        padding:0% 0%;
        text-align:center;
}

.product img{
        padding-bottom:10%;
}

.price{font-size:1.5em;}

.feature-row-store {background-color:rgba(194,194,194,0.7);
       }
       
 .store-description{margin-top:20%;}
 .description{background-color:rgba(194,194,194,0.7);
        padding:5% 10% 10% 10%;
         
 }